.imgs {
  position: relative;
  bottom:-20px;
  width: 85%;
  height: 85%;
  padding: auto;
  margin: auto;
}
.viradas {
  display: none;
}
.card {
  background-image: url("cdn.glitch.com/ee2b2e5b-f1c2-458e-83cd-dbede40e5fec%2Flatadelixo.png?v=1621015281528");
  
  padding: auto;
  margin: auto;
  size: 100%;
  padding: auto;
  margin: 5px;
  width: 300px;
  height: 300px;
  border: 4px solid blue;
  border-radius: 20%;
}
.block {
  display: block;
}
.painel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.jogo{

}
.link-img{
  display:none;  
}
.div-point{
  transition:1000ms;
   border: 8px solid green;
}
.diVirada{
}

@media screen and (max-width: 900px) {
  .card{
   width: 150px;
  height: 170px;
  }
  .imgs{
  width: 85%;
  height:85%;
  }

}
